body,
html,
app-root {
    height: 100%;
    margin: 0;
}



app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}


:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 1rem;
  overflow: auto;
}
